body {
  margin: 0;
}

/*centers in the midle */
.fixed-width {
  width: 1000px;
  margin: 0 auto;
  
}

.top-bar {
  background-color: white;
  width: 100%;
  height: 40px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar ul {
  margin: 0;
  padding: 0;
}


.top-bar ul li {
  float: left;
  list-style: none;
  border-right: 1px solid gray;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 20px 10px 20px;
    
  
}

.news-bar{
  background-color: #BB1919;
  width: 100%;
  height: 60px;
}

.news-bar p {
  margin: 0;
  padding: 0;
  font-size: 2.2em;
  font-family: Arial;
  color: white;
  position: relative;
  right: 2px;
}

.category-bar{
  width: 100%;
  height: 30px;
  background-color: #930000;
  color: white;
}

.category-bar ul {
  margin: 0;
  padding: 0;
  list-style:none;
}

.category-bar ul li {
  float: left;
  font-family: Arial;
  font-size: 0.9em;
  border-right: 1px solid gray;
  padding:3px 10px 9px 10px;
  position: relative;
  right: 10px;
  top:2px; 
    
}

#bold-font {
  font-weight: bold;
  font-size: 1.3em;
}

.location-bar {
  width: 100%;
  height: 40px;
  background-color: white;
  color: black;
  
}

.location-bar ul {
  list-style:none;
  
}

.location-bar ul li {
  float: left;
  font-family: Arial;
  font-size: 0.8em;
  padding: 10px;
  border-right: 1px solid gray;
  position: relative;
  right: 50px;
  padding: 0 12px 0 12px;
  
}

.content {
  width: 100%;
  height: 40px;
  background-color: white;
  color: black;
}

.content h1 {
  color: #1167A8;
}

.content img{
  float: right;
  position: relative;
  right: 300px;
}

.content p {
  width: 215px;  
}

#content-links {
  width: 250px;
  margin-top: 68px;
  line-height: 1.7em;
}

.content a {
  text-decoration: none;
  
}

.watch-listen {
  float:right;
  position: relative;
  bottom: 55px;
  left: 450px;
  border-left: 1px solid gray;
  padding: 0 0 0 25px;
}

.watch-listen h2 {
  font-family: Arial;
  font-weight: 100;
  margin: 0 0 20px 0;
  padding: 0;
}

.watch-listen img {
  position: relative;
  right: 5px;
}
#logo {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-right: 1px solid gray;
}

#sign-in {
  float: left;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 50px 10px 10px;
  border-right: 1px solid gray;
  
}

#search-box {
  float:left;
  width: 100px;
  padding:10px;
}

#search-box input {
  height: 20px;
  padding-bottom: 2px;
  background-image: url("http://static.bbci.co.uk/frameworks/barlesque/2.88.1/orb/4/img/orb-search-dark.png");
  background-repeat: no-repeat;
  background-position: right center;
  
}

